<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FoodApp - Dodaj Restaurację</title>
  <link rel="stylesheet" href="../../static/style/admin.css" th:href="@{/style/admin.css}">

</head>
<body>
<div class="header">
  <h1>FoodApp - Dodaj Restaurację</h1>
</div>
<div class="main-content form-container">
  <form th:action="@{/admin/add-restaurant}" method="post">
    <label for="name">Nazwa restauracji:</label>
    <input type="text" id="name" name="name" class="form-input" required><br>
    <label for="typeOfCuisine">Typ kuchni:</label>
    <select id="typeOfCuisine" name="typeOfCuisine" class="form-input" required>
      <option value="WŁOSKA">Włoska</option>
      <option value="CHIŃSKA">Chińska</option>
      <option value="TAJSKA">Tajska</option>
      <option value="HISZPAŃSKA">Hiszpańska</option>
      <option value="FRANCUSKA">Francuska</option>
      <option value="POLSKA">Polska</option>
      <option value="PIZZA">Pizza</option>
      <option value="BURGER">Burger</option>
      <option value="KEBAB">Kebab</option>
      <option value="SUSHI">Sushi</option>
    </select>
    </br>
    </br>
    <h3>Adres</h3>
    <label for="address.street">Ulica:</label>
    <input type="text" id="address.street" name="street" class="form-input" required><br>
    <label for="address.homeNo">Numer domu:</label>
    <input type="text" id="address.homeNo" name="homeNo" class="form-input" required><br>
    <label for="address.flatNo">Numer mieszkania:</label>
    <input type="text" id="address.flatNo" name="flatNo" class="form-input"><br>
    <label for="address.city">Miasto:</label>
    <input type="text" id="address.city" name="city" class="form-input" required><br>
    <label for="address.postalCode">Kod pocztowy:</label>
    <input type="text" id="address.postalCode" name="postalCode" class="form-input" required>
    </br>
    </br>
    <button type="submit" class="button">Dodaj restauracje</button>
  </form>
  <a class="button" th:href="@{/admin-panel}">Powrót</a>
</div>
</body>
</html>
