<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodApp - Aplikacja do zamawiania jedzenia</title>
    <link rel="stylesheet" href="../../static/style/admin.css" th:href="@{/style/admin.css}">
</head>
<body>
<div class="header" >
    <h1>FoodApp - Panel administratora</h1>
</div>
<div class="main-content">
    <div class="button-container">
        <a class="button" th:href="@{/admin/restaurants}">Lista restauracji</a>
        <a class="button" th:href="@{/admin/add-restaurant}">Dodaj restaurację</a>
        <a class="button" th:href="@{/admin/manage-ratings}">Zarządzaj ocenami</a>
        <a class="button" th:href="@{/admin/manage-users}">Zarządzaj użytkownikami</a>
        <a class="button" th:href="@{/home-page}">Powrót</a>
    </div>
</div>
</body>
</html>
