<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FoodApp - Edytuj Menu Restauracji</title>
  <link rel="stylesheet" href="../../static/style/admin.css" th:href="@{/style/admin.css}">

</head>
<body>
<div class="header">
  <h1>FoodApp - Edytuj posiłek:</h1>
</div>
<div class="main-content">
  <form class="form-container" th:object="${dish}" th:action="@{'/admin/edit-dish/' + ${dish.id}}" method="post">
    <label>Nazwa dania: <input class="form-input"  type="text" th:field="*{name}" /></label>
    <label>Cena: <input class="form-input"  type="text" th:field="*{price}" /></label>
    <label>Opis: <textarea class="form-input"  th:field="*{description}"></textarea></label>
    <button type="submit" class="button">Zapisz zmiany</button>
  </form>

  <a class="button" th:href="@{/admin/restaurants}">Powrót</a>
  </div>
</div>
</body>
</html>
