<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FoodApp - Zarządzaj użytkownikami</title>
  <link rel="stylesheet" href="../../static/style/admin.css" th:href="@{/style/admin.css}">
</head>
<body>
<div class="header">
  <h1>FoodApp - Zarządzaj Ocena</h1>
</div>
<div class="main-content">

  <h2>Zrealizowane i ocenione zamówienia:</h2>

  <table>
    <thead>
    <tr>
      <th>ID Użytkownika</th>
      <th>Imie i nazwisko</th>
      <th>Adres email</th>
      <th>Liczba zamówień</th>
      <th>Liczba punktów</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.firstName + ' ' + user.lastName}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.orders.size()}"></td>
      <td th:text="${user.extraPoints}"></td>
    </tr>
    </tbody>
  </table>

  <a class="button" th:href="@{/admin-panel}">Powrót</a>
</div>
</body>
</html>
