<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodApp - Edytuj Menu Restauracji</title>
    <link rel="stylesheet" href="../../static/style/admin.css" th:href="@{/style/admin.css}">
</head>
<body>
<div class="header">
    <h1>FoodApp - Edytuj Menu Restauracji: <span th:text="${restaurant.name}"></span></h1>
</div>
<div class="main-content">
    <ul style="list-style-type: none">
        <li th:each="dish : ${dishes}" class="dish">
            <h3 th:text="${dish.name}"></h3>
            <p>Cena: <span th:text="${dish.price}"></span> zł</p>
            <p>Opis: <span th:text="${dish.description}"></span></p>
            <div class="button-container">
                <a class="button" th:href="@{'/admin/edit-dish/' + ${dish.id}}">Edytuj Posiłek</a>
                <form th:action="@{'/admin/delete-dish/' + ${dish.id}}" method="post">
                    <button type="submit" class="button">Usuń posiłek</button>
                </form>
            </div>
        </li>
    </ul>
    <p>__________________________</p>
    <div class="button-container">
        <a class="button" th:href="@{'/admin/add-dish/' + ${restaurant.id}}">Dodaj nowe danie</a>
        <a class="button" th:href="@{/admin/restaurants}">Powrót</a>
    </div>
</div>
</body>
</html>
