<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodApp - Aplikacja do zamawiania jedzenia</title>
    <link rel="stylesheet" href="../../static/style/admin.css" th:href="@{/style/admin.css}">
</head>
<body>
<div class="header">
    <h1>FoodApp - Panel administratora</h1>
</div>
<div class="main-content">
    <h1>Lista Restauracji</h1>
    <ul style="list-style-type: none">
        <li th:each="restaurant : ${restaurants}" class="restaurant">
            <h3 th:text="${restaurant.name}"></h3>
            <p>
                <span th:text="${restaurant.address.city}"></span>,
                <span th:text="${restaurant.address.street}"></span>
                <span th:text="${restaurant.address.homeNo}"></span>
                <span>/</span>
                <span th:text="${restaurant.address.flatNo}"></span>
            </p>
            <p>Ocena: <span th:text="${restaurant.averageRating}"></span></p>
            <p>Typ kuchni: <span th:text="${restaurant.typeOfCuisine}"></span></p>
            <form th:action="@{'/admin/delete-restaurant/' + ${restaurant.id}}" method="post">
                <button type="submit" class="button">Usuń</button>
            </form>
            <a class="button" th:href="@{'/admin/edit-menu/' + ${restaurant.id}}">Modyfikuj menu</a>
        </li>
    </ul>
    <a class="button" th:href="@{/admin-panel}">Powrót</a>
</div>
</body>
</html>
