<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moje zamówienia - FoodApp</title>
    <link rel="stylesheet" href="../../static/style/order.css" th:href="@{style/order.css}">
</head>
<body>
<div class="header">
    <h1>FoodApp</h1>
</div>
<div class="main-content">
    <h2>Moje zamówienia</h2>
    <div class="table-container">
        <table>
            <tr>
                <th>Numer zamówienia</th>
                <th>Data zamówienia</th>
                <th>Suma zamówienia</th>
                <th>Restauracja</th>
                <th>Twoja ocena</th>
            </tr>
            <tr th:each="order : ${allOrders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.orderDate}"></td>
                <td th:text="${order.totalCost} + ' PLN'"></td>
                <td th:text="${order.restaurant.name}"></td>
                <td>
                    <form th:action="@{/add-rating}" method="post">
                        <input type="hidden" name="orderId" th:value="${order.id}">
                        <select name="value" th:disabled="${order.rated}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <input type="text" name="description" placeholder="Dodaj komentarz">
                        <button type="submit" class="button" th:hidden="${order.rated}" th:disabled="${order.rated}">Dodaj ocenę</button>
                    </form>
                    <p th:if="${order.rated}">Ocena została już wystawiona.</p>
                </td>
            </tr>
        </table>
    </div>
    <a class="button" th:href="@{/home-page}">Powrót do strony głównej</a>
</div>
</body>
</html>
