<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zamówienie złożone</title>
    <link rel="stylesheet" href="../../static/style/order.css" th:href="@{style/order.css}">

</head>
<body>
<div class="header">
    <h1>FoodApp</h1>
</div>
<div class="main-content">
    <div class="message">
        <h2>Zamówienie złożone</h2>
        <p>Twoje zamówienie zostało pomyślnie złożone. Prosze poczekaj na informacje z restauracji. Dziękujemy za zakupy!</p>
        <a th:href="@{/home-page}" class="button">Powrót</a>
    </div>
</div>
</body>
</html>
