<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="../../static/style/order.css" th:href="@{style/order.css}">
</head>
<body>
<div class="header">
  <h1>List restauracji</h1>
</div>
<div class="main-content">
  <div class="restaurants">
    <h2>Restauracje:</h2>
    <a th:href="@{/home-page}" class="choose-button">Powrót</a>
    <ul style="list-style-type: none">
      <li th:each="restaurant : ${restaurants}" class="restaurant">
        <h3 th:text="${restaurant.name}"></h3>
        <p>
          <span th:text="${restaurant.address.city}"></span>,
          <span th:text="${restaurant.address.street}"></span>
          <span th:text="${restaurant.address.homeNo}"></span>
          <span>/</span>
          <span th:text="${restaurant.address.flatNo}"></span>
        <p>Ocena: <span th:text="${restaurant.averageRating}"></span></p>
        </p>
        <p>Typ kuchni: <span th:text="${restaurant.typeOfCuisine}"></span>
        </p>
        <a class="choose-button" th:href="@{'/restaurant/menu/' + ${restaurant.id}}">Wybierz</a>
      </li>
    </ul>
    <a th:href="@{/home-page}" class="choose-button">Powrót</a>
  </div>
</div>
</body>
</html>
