<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Podsumowanie zamówienia</title>
  <link rel="stylesheet" href="../../static/style/order.css" th:href="@{style/order.css}">
</head>
<body>
<div class="header">
  <h1>FoodApp</h1>
</div>
<div class="main-content">
  <div class="cart-summary">
    <h2>Podsumowanie zamówienia</h2>
    <ul>
      <form th:each="dish : ${session.order.dishes}" th:object="${dish}" th:action="@{'/remove-from-cart/' + ${dish.id}}" method="post">
        <span th:text="${dish.name}"></span>  <span th:text="${dish.price}"></span> PLN
        <button type="submit" class="button">Usuń</button>
      </form>
    </ul>

    <div class="sidebar">
    <h3 class="small-text">Punkty które otrzymasz za zamówienie:</h3>
    <p class="small-text" th:text="${extraPointsForOrder}"></p>

    <h3 class="small-text">Twoje punkty są warte:</h3>
      <p class="small-text" th:text="${availableExtraPoints + ' PLN'}"></p>
  </div>

    <div class="total-cost">
      Suma: <span th:text="${session.order.totalCost}"></span> PLN
    </div>
    <div class="payment-buttons">
      <a th:href="@{/pay-with-points}" class="button">Zapłać punktami</a>
      <a th:href="@{/place-order}" class="button">Złóż zamówienie i zapłać przy odbiorze</a>
      <a th:href="@{/restaurant/menu/{restaurantId}(restaurantId=${order.getRestaurant().getId()})}" class="button">Powrót do menu restauracji</a>
    </div>
  </div>
</div>
</body>
</html>