<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podsumowanie zamówienia</title>
    <link rel="stylesheet" href="../../static/style/order.css" th:href="@{style/order.css}">
</head>
<body>
<div class="checkout">
    <h2>Podsumowanie zamówienia</h2>
    <ul>
        <li th:each="dish : ${orderDishes}" class="cart-item">
            <span th:text="${dish.name}"></span> - <span th:text="${dish.price}"></span> PLN
        </li>
    </ul>
    <p>Razem: <span th:text="${totalCost}"></span> PLN</p>
    <p>Twoje extra punkty: <span th:text="${points}"></span></p>
    <p>Ich równowartość to: <span th:text="${pointsToPLN}"></span> PLN</p>
    <p>Za to zamówienie otrzymasz: <span th:text="${pointForOrder}"></span> punktów</p>

    <a class="button" href="/realizacja-platnosci">Realizacja płatności</a>
</div>
</body>
</html>
