<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Potwierdzenie zmiany hasła</title>
  <link rel="stylesheet" href="../../static/style/user.css" th:href="@{style/user.css}"></head>
<body>
<div class="header">
  <h1>FoodApp</h1>
</div>
<div class="confirmation-content">
  <h2>Zapisano nowe hasło!</h2>
  <a th:href="@{/home-page}" class="button">Powrót do panelu użytkownika</a>
</div>
</body>
</html>
