<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profil użytkownika</title>
  <link rel="stylesheet" href="../../static/style/user.css" th:href="@{style/user.css}">
</head>
<body>
<div class="header">
  <h1>Profil użytkownika</h1>
</div>
<div class="main-content">
  <div class="user-welcome">
    <h3>Twoje extra punkty: <span th:text="${points}"></span></h3>
  </div>
  <div class="address-form">
    <h4>Ustaw nowy adres dostawy</h4>
    <form th:action="@{/change-address}" method="post">
      <div>
        <input type="text" class="form-input" placeholder="Ulica" name="street" required>
      </div>
      <div>
        <input type="text" class="form-input" placeholder="Numer domu" name="homeNo" required>
      </div>
      <div>
        <input type="text" class="form-input" placeholder="Numer mieszkania (opcjonalny)" name="flatNo">
      </div>
      <div>
        <input type="text" class="form-input" placeholder="Miasto" name="city" required>
      </div>
      <div>
        <input type="text" class="form-input" placeholder="Kod pocztowy" name="postalCode" required>
      </div>
      <div>
        <button class="button" type="submit">Zapisz adres</button>
      </div>
    </form>
  </div>
  </br>
  <p>__________________________</p>
  </br>

  <div class="password-change-form">
    <h4>Zmień hasło</h4>
    <form th:action="@{/change-password}" method="post">
      <div>
        <input type="password" class="form-input" placeholder="Obecne hasło" name="currentPassword" required>
      </div>
      <div>
        <input type="password" class="form-input" placeholder="Nowe hasło" name="newPassword" required>
      </div>
      <div>
        <button class="button" type="submit">Zmień hasło</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
