body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ff4f4f;
}

p {
    color: black;
    margin: 20px 0;
}

.button {
    background-color: #ff4f4f;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
}

.button:hover {
    background-color: #e63c3c;
}

body {
    background-image: url('../img/knifefork.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

.header {
    background-color: rgba(0, 123, 255, 0.7);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    margin: 20px;
    padding: 20px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.message {
    font-size: 20px;
    margin: 20px 0;
}

.button-container,
.restaurant {
    margin: 20px 0;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    color: #fff;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #fff;
}

th {
    background-color: rgba(0, 123, 255, 0.7);
    font-weight: bold;
}

tr:hover {
    background-color: rgba(0, 123, 255, 0.3);
}
