<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Błąd restauracji</title>
  <link rel="stylesheet" href="../../static/style/error.css" th:href="@{/style/error.css}">

</head>
<body>
<div class="container">
  <h1>Błąd</h1>
  <p>Potrawa którą próbujesz wybrać pochodzi z innej restauracji. Jedno zamówienie może posiadać tylko posiłki z jednej restauracji.</p>
  <a th:href="@{/order}" class="button">Powrót do wyboru restauracji</a>
</div>
</body>
</html>
