<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brak wystarczającej liczby punktów</title>
    <link rel="stylesheet" href="../../static/style/error.css" th:href="@{/style/error.css}">
</head>
<body>
<div class="container">
    <h1>Brak wystarczającej liczby punktów</h1>
    <p>Nie masz wystarczającej liczby punktów, aby opłacić to zamówienie.</p>
    <a th:href="@{/order-summary}" class="button">Powrót</a>
</div>
</body>
</html>
