<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Błąd restauracji</title>
    <link rel="stylesheet" href="../../static/style/error.css" th:href="@{/style/error.css}">
</head>
<body>
<div class="container">
    <h1>Błąd</h1>
    <p>Nie udało się znaleźć restauracji lub przypisanego do niej posiłku, być może nie jest już dostępna/y - przepraszamy.</p>
    <a th:href="@{/order}" class="button">Powrót do wyboru restauracji</a>
</div>
</body>
</html>
